<td class="table-division">
  <div><img src="{{this.image}}" alt="img" class="table-image" /></div>
</td>
<td class="table-division">
  <div>{{this.name}}</div>
</td>
<td class="table-division">
  <div>{{this.ref}}</div>
</td>
<td class="table-division">
  <div>${{this.price}}</div>
</td>
<td class="table-division">
  <form method="post" action="/product_edit/{{this._id}}">
  <button>
    <span data-id-sneaker="{{this._id}}" class="fa fa-edit table-icon"></span> </button></form>
</td>
<td class="table-division">
  <form  method="post" action="/product/delete/{{this._id}} ">
<button>
  <span class="fa fa-trash table-icon" data-id-sneaker="{{this._id}}"  aria-hidden="true"></span></button></form>
</td>
